@media only screen and (max-width:1200px){
    .banner h1 {
	    font-size: 55px;
	    line-height: 80px;
	}
	.banner-content {
	    padding-block: 190px;
	}
	.banner {
	    background-position: right;
	}
	.about-us a.btn-1 {
	    padding: 10px 20px;
	}
	.title h2 {
	     font-family: "Nanum Myeongjo", serif;
	    font-size: 40px;
	}
	.about-us .title p {
	    padding-block-end: 20px;
	}
	.our-doctor .text-content h5 {
	    font-size: 24px;
	}
	.our-doctor .text-content h3 {
	    font-family: 'Nanum Myeongjo';
	    font-size: 35px;
	}
	.our-doctor .slick-track {
	    height: 500px;
	}
	.our-doctor .text-content {
	    transform: translate(0, -50%);
	}
	.our-doctor .text-content a.btn-1 {
	    margin: 0;
	    padding: 10px 30px;
	}
	button.next.slick-arrow {
	    right: 40%;
	}
	button.prev.slick-arrow {
	    left: 40%;
	    z-index: 333;
	}
	.col-lg-4 {
	    flex: 0 0 auto;
	    width: 49.333333%;
	}
	.services .website-block .text-block a.btn-1 {
	    padding: 8px 40px;
	    text-transform: uppercase;
	    width: max-content;
	    margin: 0 auto;
	    letter-spacing: 2px;
	}
	.services .website-block .text-block {
	    padding: 25px 0 15px 0;
	}
	.services .website-block .text-block p {
	    height: 130px;
	}


}


@media only screen and (max-width:991px){
	.banner h1 {
	    font-size: 44px;
	    line-height: 75px;
	}
	.banner-content {
	    padding-block: 170px;
	}
	.banner {
	    background-position: bottom;
	    background-size: cover;
	}
	.about-us {
	    padding-block: 50px;
	}
	.our-doctor .slider .box .d-flex {
	    display: flex!important;
	    flex-direction: column;
	    gap: 40px;
	}
	.our-doctor .slick-track {
	    height: initial;
	}
	.our-doctor .text-content {
	    all: unset;
	}
	.our-doctor {
	    background: #0bc2fb2e;
	    padding-block: 50px 130px;
	}
	.our-doctor .text-content h3 {
	    font-family: 'Nanum Myeongjo';
	    font-size: 30px;
	}
	button.slick-arrow {
	    position: absolute;
	    bottom: -90px;
	    cursor: pointer;
	}
	section.services {
	    padding-block-start: 50px;
	}
	.services .website-block .box .image-block {
	    height: 190px;
	}
	.services .website-block .text-block h3 {
	    font-size: 20px;
	    line-height: 22px;
	    font-weight: 500;
	}
	a.btn-1 {
	    padding: 12px 30px;
	}
	.riviwer-profile {
	    width: 100px;
	    margin: 0 auto;
	}
	section.appointment {
	    padding: 25px 0;
	}
	iframe {
	    width: 100%;
	    height: 380px;
	}
	.footer-nav li a {
	    font-size: 15px;
	    font-weight:400;
	    color: #cfc4c4;
	}
	ul.footer-nav {
	    gap: 20px;
	}
	.footer h4 {
	    color: var(--white);
	    padding-block-end: 20px;
	    font-size: 18px;
	    font-weight:500;
	}
	.footer .content .dox {
	    padding-block-end: 25px;
	}
	.footer .box {
	    align-items: initial;
	}


}





@media only screen and (max-width:767px){
	.banner h1 {
	    font-size: 40px;
	    line-height: 65px;
	}
	.banner p {
	    font-size: 17px;
	    line-height: 1.3;
	}
	.banner-content {
	    padding-block: 130px;
	}
	.title h2 {
	    font-size: 32px;
	}
	button.prev.slick-arrow {
	    left: 35%;
	    z-index: 333;
	}
	button.next.slick-arrow {
	    right: 35%;
	}
	.col-lg-4 {
	    flex: 0 0 auto;
	    width: 100%;
	}
	.services .website-block .box .image-block {
	    height: auto;
	}
	.footer h4 {
	    text-align: center;
	    padding-block-start: 35px;
	}
	.footer .content .dox {
	    text-align: center;
	}
	.footer .box p {
	    color: var(--white);
	    margin: 0;
	}
	.footer .box {
	    align-items: initial;
	    justify-content: center;
	    align-items: center;
	}
	.footer .opning-time{
		display: flex;
	    flex-direction: column;
	    justify-content: center;
	    align-items: center;
	}
	.footer h5 {
	    color: #7c7777;
	    font-size: 16px;
	    line-height: 30px;
	    padding-block-start: 40px;
	}
	.footer .d-flex {
	    justify-content: space-between;
	    align-items: center;
	    flex-direction: column;
	    gap: 30px;
	}
	ul.footer-nav {
	    gap: 23px;
	    flex-wrap: wrap;

	}


}




@media only screen and (max-width:576px){
	.banner h1 {
	    font-size: 34px;
	    line-height: 50px;
	}
	ul.footer-nav {
	    gap: 23px;
	    flex-wrap: wrap;
	    justify-content: center;
	}
	a.btn-1 {
	    padding: 10px 22px;
	    font-size: 14px;
	}
	.banner-content {
	    padding-block: 100px;
	}
	.banner {
	    background-position: right;
	    background-size: cover;
	}
	.title h2 {
	    font-size: 30px;
	}
	.our-doctor .text-content h5 {
	    font-size: 20px;
	}
	.our-doctor .text-content h3 {
	    font-family: 'Nanum Myeongjo';
	    font-size: 25px;
	}
	button.slick-arrow {
	    width: 40px;
	    height: 40px;
	    font-size: 20px;
	}



}




@media only screen and (max-width:480px){
	.rt-block {
	    display: none;
	}
	.top-header{
	    display: block;
	}
	.banner h1 {
	    font-size: 30px;
	    line-height: 45px;
	}
	.banner p {
	    font-size: 16px;
	    line-height: 25px;
	}
	.google-rate {
	    padding-block-start: 5px;
	}
	.banner-content {
	    padding-block: 80px;
	}
	.title h2 {
	    font-size: 25px;
	}
	.about-us {
	    padding-block: 40px;
	}
	.title p {
	    font-size: 14px;
	    line-height: 24px;
	}
	.services .website-block .box .image-block {
	    height: auto;
	}
	.riviwer-profile {
	    width: 70px;
	    margin: 0 auto;
	}
	.testmonial {
	    /* background: #19191A; */
	    color: var(--white);
	    margin-block-start: 50px;
	    background-image: url(../images/testimonial-bg.png);
	    background-repeat: no-repeat;
	    width: 100%;
	    padding-block: 45px;
	}
		.testmonial p {
	    font-size: 14px;
	    line-height: 30px;
	    text-align: center;
	}
	button.prev-1.slick-arrow {
	    left: 10%;
	    bottom: 20%;
	    display: none!important;
	}
	button.next-1.slick-arrow {
	    left: 10%;
	    bottom: 20%;
	    display: none!important;
	}
	.boxes {
	    width: 100%;
	    padding-block-end: 35px;
	}
	ul.footer-nav {
	    gap: 15px;
	    flex-wrap: wrap;
	    justify-content: center;
	}
	.footer h4 {
	    color: var(--white);
	    padding-block-end: 20px;
	    font-size: 16px;
	    font-weight: 500;
	}


}

@media only screen and (max-width:400px){

}