/* Googlefont Poppins CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

/*.nanum-myeongjo-regular {
  font-family: "Nanum Myeongjo", serif;
  font-weight: 400;
  font-style: normal;
}*/

:root{
--black:#000000;
--white:#fff;
--blue:#07BFFF;
}


.top-header{
    display: none;
}
.top-header .d-flex{
    justify-content: space-between;
}
button#call {
    width: 100%;
    border: none;
    background: #000;
    color: #fff;
}
.top-header a.btn-1 {
    border-radius: initial;
    width: 100%;
}


a.btn-1 {
    padding: 14px 30px;
    background: #07bfff;
    color: #fff;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    transition: 0.5s ease-in-out;
    width: max-content;
    display: flex;
}
.btn-1:hover {
  box-shadow: inset 0 0 0 50px #D80286;
}

.banner a.btn-1{
  margin: 0 auto;
}

nav {
    width: 100%;
    background: #106685;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    z-index: 999999;
    position: sticky;
    top: 0;
}
.navbar {
    height: 100%;
    max-width: 1650px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    /* background: red; */
    padding: 10px 50px;
}
.lt-block {
    width: 64%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    width: 160px;
    padding: 10px;
}

.logo img{
  width: 100%;
}
.navbar .logo a{
  font-size: 30px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}
nav .navbar .nav-links{
  line-height: 70px;
  height: 100%;
}
.navbar .links {
    display: flex;
    margin: 0;
}
.navbar .links li{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0 14px;
}
.navbar .links li a{
  height: 100%;
  text-decoration: none;
  white-space: nowrap;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}
.links li:hover .htmlcss-arrow,
.links li:hover .js-arrow{
  transform: rotate(180deg);
  }

nav .navbar .links li .arrow{
  /* background: red; */
  height: 100%;
  width: 22px;
  line-height: 70px;
  text-align: center;
  display: inline-block;
  color: #fff;
  transition: all 0.3s ease;
}
nav .navbar .links li .sub-menu {
    position: absolute;
    top: 78px;
    left: 0;
    line-height: 40px;
    background: #3E8DA8;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 4px 4px;
    display: none;
    z-index: 2;
    border-top: 2px solid #00bb00;
}
nav .navbar .links li:hover .htmlCss-sub-menu,
nav .navbar .links li:hover .js-sub-menu{
  display: block;
}
.navbar .links li .sub-menu li{
  padding: 0 22px;
  border-bottom: 1px solid rgba(255,255,255,0.1);
}
.navbar .links li .sub-menu a{
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}
.navbar .links li .sub-menu .more-arrow{
  line-height: 40px;
}
.navbar .links li .htmlCss-more-sub-menu{
  /* line-height: 40px; */
}
.navbar .links li .sub-menu .more-sub-menu{
  position: absolute;
  top: 0;
  left: 100%;
  border-radius: 0 4px 4px 4px;
  z-index: 1;
  display: none;
}
.links li .sub-menu .more:hover .more-sub-menu{
  display: block;
}

.navbar .nav-links .sidebar-logo{
  display: none;
}
.navbar .bx-menu{
  display: none;
}

.rt-block {
    display: flex;
    align-items: center;
    gap: 20px;
}

i.bx.bxs-phone {
    color: var(--white);
    font-size: 30px;
}
.phone {
    align-items: center;
    display: flex;
    gap: 12px;
}
a.number {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
}
.sub-menu {
    padding: 0;
    width: 180px;
}



/*banner###############*/


.banner {
    background: rgb(255,255,255);
    background: linear-gradient(21deg, rgb(0 0 0 / 72%) 31%, rgb(0 201 253 / 58%) 100%, rgba(255, 255, 255, 1) 100%), url(../images/banner-1.png);
    /* background-image: url(../images/banner.png); */
    width: 100%;
    background-repeat: no-repeat;
    position: relative;
    background-position: bottom;
}
.banner h1 {
    font-family: "Nanum Myeongjo", serif;
    font-size: 60px;
    line-height: 85px;
    font-weight: 600;
    color: #fff;
}
.banner p {
    font-size: 20px;
    line-height: 1.3;
    color: #ffffff;
    font-weight: 400;
    padding-block-start: 10px;
}
.banner h5 {
    font-size: 16px;
    line-height: 1.3;
    color: #fff;
    font-weight: 500;
    padding-block: 20px;
    padding-block-end: 35px;
}

.banner-content {
    padding-block: 230px;
    text-align: center;
}

.google-rate {
    display: flex;
    gap: 10px;
    justify-content: center;
    padding-block-start: 20px;
}
.google-img {
    width: 30px;
}
.google-img img {
    width: 100%;
}
.rate {
    width: 100px;
}
.rate img {
    width: 100px;
}

/*about-us@#########################*/



.about-us {
    padding-block: 65px;
}

.title h2 {
     font-family: "Nanum Myeongjo", serif;
    font-size: 50px;
    line-height: 1.3;
    color: #000;
    font-weight: 500;
}

.title p {
    font-size: 16px;
    line-height: 28px;
    color: #323030;
    font-weight: 400;
    padding-block-start: 20px;
}
#learn-more {
    background: var(--blue);
    color: var(--white);
    border: none;
    width: 160px;
    height: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30%;

}

a.btn-primary {
    text-align: center;
    display: block;
    margin-block-start: 20px;
}

.about-us a.btn-1 {
    padding: 12px 20px;
    background: #07bfff;
    color: #fff;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    transition: 0.5s ease-in-out;
    width: max-content;
    display: flex;
    margin: 0 auto;
}




/*our-doctor$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/


.our-doctor {
    background: #0bc2fb2e;
    padding-block: 50px;
}
.our-doctor .text-box{
  position: relative;
  width: 100%;
}
.our-doctor .text-content {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(0, -60%);
}
.our-doctor .image-box img{
    width: 100%;
}
.our-doctor .text-content h5 {
    font-size: 28px;
    font-weight: 300;
    font-family: inherit;
}
.our-doctor .text-content h3 {
    font-family: 'Nanum Myeongjo';
    font-size: 45px;
    font-weight: 600;
    padding-block-start: 15px;
}
.our-doctor .text-content p {
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    padding-block-end: 20px;
}
.our-doctor .text-content a.btn-1 {
    margin: 0;
}
.our-doctor .box{
  margin: 0 20px;
}

button.slick-arrow {
    position: absolute;
    bottom: 40px;
    cursor: pointer;
    border: none;
    background: none;
    width: 50px;
    height: 50px;
    background: #07bfff;
    font-size: 25px;
    color: #fff;
    border-radius: 10%;
}
button.prev.slick-arrow {
    left: 65%;
    z-index: 333;
}
button.next.slick-arrow {
    right: 25%;
}



/*services###################################*/
section.services {
    padding-block-start: 70px;
}
.design-element {
    width: 70px;
    height: 5px;
    background: linear-gradient(318deg, rgb(13 182 255) 52%, rgb(20 255 191) 52%);
    margin-block-start: 10px;
}
.services .website-block{
    padding-block-start: 30px;
}

.services .website-block .box .image-block {
    background: pink;
    border-radius: 5px;
    overflow: hidden;
    height: 245px;
}

.services .website-block .box .image-block a{
    width: 100%;
    height: 100%;
}

.services .website-block .box .image-block img{
    width: 100%;
    object-fit: cover;
    transition: all 0.5s ease;
}

.services .website-block .box {
    padding: 20px;
    border: 1px solid #ffffff3b;
    border-radius: 5px;
    transition: all 0.5s ease;
    margin-block-start: 20px;
/*    box-shadow: rgb(126 126 126 / 58%) 0px 1px 4px;*/
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.services .website-block .box:hover img{
    scale: 1.05;
    transition: all 0.5s ease;
}

.services .website-block .text-block {
    padding: 25px 0 0 0;
}
.services .website-block .text-block h3 {
    font-size: 22px;
    line-height: 24px;
    font-weight: 700;
    color: #07bfff;
    text-transform: capitalize;
}

.services .website-block .text-block p {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: #000000;
    font-family: inherit;
    margin: 0;
    padding-block-start: 25px;
    height: 160px;
    overflow: hidden;
}
.services .website-block .text-block #view {
    display: block;
    padding: 15px 0;
    text-align: center;
    border-radius: 5px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: #1E0235;
}
.services .website-block .text-block a.btn-1 {
    padding: 8px 30px;
    text-transform: uppercase;
}

.btn-1::before {
  top: 0; bottom: 0; left: 0; 
  height: 100%; width: 0%;background: red;
}
.btn-1:hover::before {
  width: 100%;
}





/*testmonial#####################################*/



.testmonial {
    /* background: #19191A; */
    color: var(--white);
    margin-block-start: 90px;
    background-image: url(../images/testimonial-bg.png);
    background-repeat: no-repeat;
    width: 100%;
    padding-block: 50px;
}
.testmonial .d-flex {
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.testmonial .d-flex .ster {
    width: 130px;
}
.testmonial .d-flex .ster img{
  width: 100%;
}
.testmonial .d-flex .google {
   width: 45px;
}
.testmonial .d-flex .google img {
  width: 100%;
}

button#view-more-reviews {
    display: block;
}
.riviwer-profile {
    width: 120px;
    margin: 0 auto;
}
.riviwer-profile img{
  width: 100%;
}
.testmonial .box {
    width: 100%;
}
.testmonial p {
    font-size: 16px;
    line-height: 35px;
    font-weight: 400;
    color: var(--white);
    padding-block: 30px;
    text-align: center;
}
span#reviewer-name {
    font-family: 'Nanum Myeongjo';
    font-size: 25px;
    font-weight: 500;
    padding-block: 15px;
    display: inline-block;
    width: 100%;
    text-align: center;
}
button#view-more-reviews {
    background: #548BBF;
    border: none;
    color: #fff;
    width: 215px;
    height: 50px;
    border-radius: 50px;
    letter-spacing: 1px;
}


.slick-dots {
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
    margin-top: 50px;
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
}
button.slick-arrow {
    z-index: 3333;
    position: absolute;
    bottom: -5px;
    cursor: pointer;
}

.slick-dots li button {
  display: flex;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--white);
  justify-content: center;
  align-items: center;
    border:0;
    font-size: 0;
}

.slick-dots li.slick-active button {
    background:var(--blue);
    width: 40px;
    border-radius: 30px;
}


button.slick-arrow {
  position: absolute;
  bottom: -5px;
  cursor: pointer;

}

button.next-arrow.slick-arrow {
  
    right: 43%;
    display: flex;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    border: none;
    background: #86C634;
    color: #fff;
    font-size: 20px;
}

button.prev-arrow.slick-arrow {
  
    left: 43%;
    display: flex;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    border: none;
    background: #86C634;
    color: #fff;
    font-size: 20px;
}
.testmonial .btn-1 {
    width: max-content;
    display: flex;
    margin: 0 auto;
    margin-block-start: 30px;
}
button.prev-1.slick-arrow {
    left: 10%;
    bottom: 20%;
}
button.next-1.slick-arrow {
    right: 10%;
    bottom: 20%;
}





/*appointment##################################boxes###*/

section.appointment {
    padding: 60px 0;
}
.appointment p span{
  display: block;
}

.appointment p span a{
    color: var(--blue);

} 

.form-all-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-block-start: 40px;
}

.boxes{
  width: 48%;
}
label {
    display: block;
}

.form-contral {
    width: 100%;
    padding: 12px 20px;
    border: none;
    background: #07bfff2e;
    outline: none;
    transition: 0.5s ease-in-out;
}
.form-contral:hover {
    background: #b6d7effa;
    transition: 0.5s ease-in-out;
}
.big-box {
    width: 100%;
}
textarea {
    resize: vertical;
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
}

.form-contral::placeholder{
  color:#000;
}
.boxes {
    width: 48%;
    padding-block-end: 35px;
}

button#submit {
    width: 160px;
    height: 45px;
    background: var(--blue);
    border: none;
    border-radius: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto 0 auto;
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
}







/*location######################################*/
.location{
 background: #0e0d0d;;
}
iframe{
  width: 100%;
  height: 500px;
}






/*footer######################*/


.footer {
    background: #0e0d0d;
    padding-block: 50px;
}
.footer .d-flex{
  justify-content: space-between;
  align-items: center;
}
.footer .logo-block{
  width: 150px;
}
.footer .logo-block img{
  width: 100%;
}
ul.footer-nav {
    list-style: none;
    display: flex;
    gap: 50px;
}
.footer-nav li a {
    color: var(--white);
    text-decoration: none;
}
.flex-box {
    display: flex;
    justify-content: space-between;
}

i.bi.bi-telephone-fill {
    color: #ffffff;
}

.footer h4{
  color: var(--white);
  padding-block-end: 20px;
}

.footer span{
  color: var(--white);
  padding-inline-start: 15px;
}

.footer .box {
    display: flex;
    gap: 10px;
    width: 100%;
    align-items: center;
    padding-block-start: 20px;
}
.footer .contact-details .box a{
    padding-block-end: 20px;
}

i.bi.bi-geo-fill {
    color: var(--white);
    font-size: 25px;
}

.footer .box p{
  color: var(--white);
  margin: 0;
}

.hours ul li{
    color: var(--white);
    padding-block-end: 10px;
}

.footer h5 {
    color: #7c7777;
    font-size: 16px;
    padding-block-start: 40px;
}


button#myBtn {
    position: fixed;
    bottom: 5%;
    right: 2%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #07bfff;
    border: none;
    font-size: 28px;
    z-index: 9999;
    color: var(--white);
}













@media (max-width:1354px){
  .lt-block {
      width: 100%;
  }
  .rt-block {
      width: 100%;
      justify-content: space-between;
  }
  .navbar {
    padding: 10px 50px;
    flex-direction: column-reverse;
}

}

@media (max-width:920px) {
  nav .navbar{
    max-width: 100%;
    padding: 0 25px;
  }

  nav .navbar .logo a{
    font-size: 27px;
  }
  nav .navbar .links li{
    padding: 0 10px;
    white-space: nowrap;
  }
  nav .navbar .links li a{
    font-size: 15px;
  }
}

@media (max-width:800px){
  .lt-block {
      width: 100%;
  }
  nav .navbar {
      max-width: 100%;
      padding: 15px 25px;
  }
    .navbar .bx-menu{
    display: block;
  }
  nav .navbar .nav-links{
    position: fixed;
    top: 0;
    left: -100%;
    display: block;
    max-width: 270px;
    width: 100%;
    background:  #3E8DA8;
    line-height: 40px;
    padding: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease;
    z-index: 1000;
  }
  .navbar .nav-links .sidebar-logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .sidebar-logo .logo-name{
    font-size: 25px;
    color: #fff;
  }
    .sidebar-logo  i,
    .navbar .bx-menu{
      font-size: 25px;
      color: #fff;
    }
  nav .navbar .links{
    display: block;
    margin-top: 20px;
  }
  nav .navbar .links li .arrow{
    line-height: 40px;
  }
nav .navbar .links li{
    display: block;
  }
nav .navbar .links li .sub-menu{
  position: relative;
  top: 0;
  box-shadow: none;
  display: none;
}
nav .navbar .links li .sub-menu li{
  border-bottom: none;

}
.navbar .links li .sub-menu .more-sub-menu{
  display: none;
  position: relative;
  left: 0;
}
.navbar .links li .sub-menu .more-sub-menu li{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.links li:hover .htmlcss-arrow,
.links li:hover .js-arrow{
  transform: rotate(0deg);
  }
  .navbar .links li .sub-menu .more-sub-menu{
    display: none;
  }
  .navbar .links li .sub-menu .more span{
    /* background: red; */
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
  }

  .links li .sub-menu .more:hover .more-sub-menu{
    display: none;
  }
  nav .navbar .links li:hover .htmlCss-sub-menu,
  nav .navbar .links li:hover .js-sub-menu{
    display: none;
  }
.navbar .nav-links.show1 .links .htmlCss-sub-menu,
  .navbar .nav-links.show3 .links .js-sub-menu,
  .navbar .nav-links.show2 .links .more .more-sub-menu{
      display: block;
    }
    .navbar .nav-links.show1 .links .htmlcss-arrow,
    .navbar .nav-links.show3 .links .js-arrow{
        transform: rotate(180deg);
}
    .navbar .nav-links.show2 .links .more-arrow{
      transform: rotate(90deg);
    }
}
@media (max-width:370px){
  nav .navbar .nav-links{
  max-width: 100%;
} 
}















